@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Carga de Datos</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="frmCarga" method="post" enctype="multipart/form-data" asp-controller="CargaDatos" asp-action="Index">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile" name="postedFiles" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" multiple>
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <select class="form-control select2" name="Anexo" data-placeholder="-- Anexo --" style="width:100%">
                                    <option value="0">Seleccione Anexo</option>
                                    <option value="1">Incripcion</option>
                                    <option value="2">Educación</option>
                                    <option value="3">Psocosocial</option>
                                    <option value="4">Seguimiento Psicosocial</option>
                                    <option value="5">Practicas Profecionales</option>
                                    <option value="6">Seguimiento Pasantillas</option>
                                    <option value="7">Seguimiento Autoempleo</option>
                                    <option value="8">Estipendios</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="btnLoad" type="submit" value="Upload" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                        <br />
                        <div style="text-align:center;width:100%">
                            <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">Plantillas</h3>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool btn-sm">
                                <i class="fas fa-download"></i>
                            </a>
                            <a href="#" class="btn btn-tool btn-sm">
                                <i class="fas fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-valign-middle">
                            <thead>
                                <tr>
                                    <th>Anexo</th>
                                    <th>URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Inscripciones</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 1})</th>
                                </tr>
                                <tr>
                                    <th>Evaluacion Psicosocial</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 2})</th>
                                </tr>
                                <tr>
                                    <th>Seguimiento Psicosocial</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 3})</th>
                                </tr>
                                <tr>
                                    <th>Educacion</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 4})</th>
                                </tr>
                                <tr>
                                    <th>Seguimiento en Pasantías</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 5})</th>
                                </tr>
                                <tr>
                                    <th>Seguimiento en Prácticas Pr</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 6})</th>
                                </tr>
                                <tr>
                                    <th>Seguimiento en Autoempleo</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 7})</th>
                                </tr>
                                <tr>
                                    <th>Estipendios</th>
                                    <th>@Html.ActionLink("Descarga","Plantillas",new { @anexo = 8})</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section scripts{
<script>
    $('#frmCarga').submit(function(event) {
            // disable button
          $('#btnLoad').prop("disabled", true);
          // add spinner to button
          $('#btnLoad').html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
          );
    });
        //async function AJAXSubmit (oFormElement) {
        //    debugger
        //    var resultElement = oFormElement.elements.namedItem("result");
        //    const formData = new FormData(oFormElement);

        //    try {
        //    const response = await fetch(oFormElement.action, {
        //      method: 'POST',
        //      body: formData
        //    });

        //    if (response.ok) {
        //      window.location.href = '/';
        //    }

        //    resultElement.value = 'Result: ' + response.status + ' ' +
        //      response.statusText;
        //    } catch (error) {
        //      console.error('Error:', error);
        //    }
        //  }

</script>
}