@model BECAS.Models.VM.EstipendiosVM
@{
    ViewData["Title"] = "Estipendios";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <form class="form-inline" method="post" asp-controller="Mantenimientos" asp-action="Personas">
                <div class="form-group mb-2">
                    <select class="form-control select2" name="socios" id="socios" multiple="multiple" data-placeholder="-- Seleccionar Socio --" style="width:100%">
                        @*                        @foreach (var item in Model.Socios)
                            {
                            <option value="@item.IdImplementador">@item.Nombre</option>
                            }*@
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="dropzona" id="dropzona" multiple="multiple" data-placeholder="-- Seleccionar Zona --" style="width:100%">
                        @*                        @foreach (var item in Model.LIstaSedes)
                            {
                            <option value="@item.IdSede">@item.Nombre</option>
                            }*@
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="sedes" id="sedes" multiple="multiple" data-placeholder="-- Seleccionar Sede --" style="width:100%">
                        @*                        @foreach (var item in Model.LIstaSedes)
                            {
                            <option value="@item.IdSede">@item.Nombre</option>
                            }*@
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Programa</label>
                    <select class="form-control select2" name="programas" multiple="multiple" data-placeholder="-- Seleccionar Programa --" style="width:100%">
                        @*                        @foreach (var item in Model.Programa)
                            {
                            <option value="@item.IdPrograma">@item.Nombre</option>
                            }*@
                    </select>
                </div>


                <div class="form-group mb-2">
                    <select class="form-control select2" name="carreras" multiple="multiple" data-placeholder="-- Seleccionar Carrera --" style="width:100%">
                        @*                        @foreach (var item in Model.Carreras)
                            {
                            <option value="@item.IdCarrera">@item.Nombre</option>
                            }*@
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="sexos" multiple="multiple" data-placeholder="-- Seleccionar sexo --" style="width:100%">
                        @*                        @foreach (var item in Model.sexos)
                            {
                            <option value="@item.IdSexo">@item.Nombre</option>
                            }*@
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="tipomatricula" multiple="multiple" data-placeholder="-- Seleccionar Tipo Matricula --" style="width:100%">
                        @*                        @foreach (var item in Model.tipomatricula)
                            {
                            <option value="@item.IdTipoMatricula">@item.Nombre</option>
                            }*@
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Estipendios</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>PId</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Nombre</th>
                    <th>Tipo Matricula</th>
                    <th>Programa</th>
                    <th>Carrera/Curso/Grado</th>
                    <th>Sede</th>
                    <th>Cohorte</th>
                    <th>Sexo</th>
                    <th>Socio implementador</th>
                    <th>Fecha Reasignacion</th>
                    <th>Estado</th>
                    <th>Fechades</th>
                    <th>Dias de Asistencia Establecidos</th>
                    <th>Dias de Asistencia Efectivos</th>
                    <th>Motivo de Inasistencia</th>
                    <th>Modulos Inscritos</th>
                    <th>Modulos Aprobados</th>
                    <th>Modulos Reprobados</th>
                    <th>Causa Reprobacion</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.EstipendiosTable)
                    {
                        //var año = item.carga != null ? item.carga.RAño : 0;
                        //var mes = item.carga != null ? item.carga.RMes : "";
                        //var sexo = item.Sexo != null ? item.Sexo.Nombre : "";
                        //var Sede = item.Sede != null ? item.Sede.Nombre : "";
                        //var CarreraCursoGrado = item.CarreraCursoGrado != null ? item.CarreraCursoGrado.Nombre : "";
                        <tr>
                            <td>@item.PId</td>
                            <td>@item.Año</td>
                            <td>@item.Mes</td>
                            <td>
                                @if (item.persona != null)
                                {
                                    @item.persona.Nombre
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    //if (@item.persona.matricula != null)
                                    //{
                                    //    @item.persona.matricula.Nombre
                                    //}
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    //if (@item.persona.programa != null)
                                    //{
                                    //    @item.persona.programa.Nombre
                                    //}
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    //@if (item.persona.carrera != null)
                                    //{
                                    //    @item.persona.carrera.Nombre
                                    //}
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    //if (@item.persona.sede != null)
                                    //{
                                    //    @item.persona.sede.Nombre
                                    //}
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    //@if (@item.persona != null)
                                    //{
                                    //    @item.persona.Cohorte
                                    //}
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    @if (@item.persona.sexo != null)
                                    {
                                        @item.persona.sexo.Nombre
                                    }
                                }
                            </td>
                            <td>
                                @if (item.persona != null)
                                {
                                    //@if (item.persona.socio != null)
                                    //{
                                    //    @item.persona.socio.Nombre
                                    //}
                                }
                            </td>
                            <td>@item.AlimEfectivo                       </td>
                            <td>@item.AlimMontoEfectivo                  </td>
                            <td>@item.AlimDiasPresencialesEfectivo       </td>
                            <td>@item.AlimSubtotalEfectivo               </td>
                            <td>@item.AlimTransferencia                  </td>
                            <td>@item.AlimMontoTransferencia             </td>
                            <td>@item.AlimDiasPresencialesTransferencia  </td>
                            <td>@item.AlimSubtotalTransferencia          </td>
                            <td>@item.AlimEspecie                        </td>
                            <td>@item.AlimMontoEspecie                   </td>
                            <td>@item.AlimDiasPresencialesEspecie        </td>
                            <td>@item.AlimSubtotalEspecie                </td>
                            <td>@item.AlimMontoTotal                     </td>
                            <td>@item.TranspEfectivo                     </td>
                            <td>@item.TranspMontoEfectivo                </td>
                            <td>@item.TranspDiasPresencialesEfectivo     </td>
                            <td>@item.TranspSubtotalEfectivo             </td>
                            <td>@item.TranspTransferencia                </td>
                            <td>@item.TranspTarifaDiferenciada           </td>
                            <td>@item.TranspMontoTransferencia           </td>
                            <td>@item.TranspDiasPresencialesTransferencia</td>
                            <td>@item.TranspSubtotalTransferencia        </td>
                            <td>@item.TranspMontoTotal                   </td>
                            <td>@item.ConecEfectivo                      </td>
                            <td>@item.ConecMontoEfectivo                 </td>
                            <td>@item.ConecDiasPresencialesEfectivo      </td>
                            <td>@item.ConecSubtotalEfectivo              </td>
                            <td>@item.ConecTransferencia                 </td>
                            <td>@item.ConecMontoTransferencia            </td>
                            <td>@item.ConecDiasPresencialesTransferencia </td>
                            <td>@item.ConecSubtotalTransferencia         </td>
                            <td>@item.ConecMontoTotal                    </td>
                            <td>@item.EstipendioTotal                    </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@section scripts{
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      $('.select2').select2()

    });
</script>

<script>

    $("#socios").change(function () {
        var idsocio = $("#socios").val();
        $.get("/Mantenimientos/GetZona", { id: idsocio[0] }, function (data) {
            // VACIAMOS EL DropDownList
            $("#dropzona").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
            //$("#dropzona").append("<option value> -- Seleccionar Zona " + $("#dropzona option:selected").text() + " --</option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            $.each(data, function (index, row) {
                $("#dropzona").append("<option value='" + row.idZona + "'>" + row.nombre + "</option>")
            });
        });
    });

    $("#dropzona").change(function (data) {
        var idsocio = $("#socios").val();
        //var idzona = $("#dropzona").val();
        var idzona = $("#dropzona :selected").map((_, e) => e.value).get();
        //alert(selected);
        $.get("/Mantenimientos/GetSedes", { id: idzona[0] , ids:idsocio[0] }, function (data) {
            // VACIAMOS EL DropDownList
            $("#sedes").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
            $("#sedes").append("<option value> -- Seleccionar Zona " + $("#sedes option:selected").text() + " --</option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            $.each(data, function (index, row) {
                $("#sedes").append("<option value='" + row.idSede + "'>" + row.nombre + "</option>")
            });
        });
    });
</script>
}
