@model BECAS.Models.VM.EvalucionPsicosocialVM
@{
    ViewData["Title"] = "EvalucionPsicosocial";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Filtros</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <select class="form-control select2" name="socios" id="socios" multiple="multiple" data-placeholder="-- Seleccionar Socio --" style="width:100%">
                        @foreach (var item in Model.Socios)
                        {
                            <option value="@item.IdImplementador">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="dropzona" id="dropzona" multiple="multiple" data-placeholder="-- Seleccionar Zona --" style="width:100%">
                        @*                        @foreach (var item in Model.LIstaSedes)
                            {
                            <option value="@item.IdSede">@item.Nombre</option>
                            }*@
                    </select>
                </div>

                <div class="form-group mb-2">
                    <select class="form-control select2" name="idprograma" id="idprograma" multiple="multiple" data-placeholder="-- Seleccionar Programa --" style="width:100%">
                        @*                        @foreach (var item in Model.Programa)
                            {
                            <option value="@item.IdPrograma">@item.Nombre</option>
                            }*@
                    </select>
                </div>

                <div class="form-group mb-2">
                    <select class="form-control select2" name="sedes" id="sedes" multiple="multiple" data-placeholder="-- Seleccionar Sede --" style="width:100%">
                        @*                        @foreach (var item in Model.LIstaSedes)
                            {
                            <option value="@item.IdSede">@item.Nombre</option>
                            }*@
                    </select>
                </div>

                <div class="form-group mb-2">
                    <select class="form-control select2" name="carreras" id="carreras" multiple="multiple" data-placeholder="-- Seleccionar Carrera --" style="width:100%">
                        @*                        @foreach (var item in Model.Carreras)
                            {
                            <option value="@item.IdCarrera">@item.Nombre</option>
                            }*@
                    </select>
                </div>
                <hr align="left" noshade="noshade" size="2" width="100%" />
                <div class="form-group mb-2">
                    <select class="form-control select2" name="sexos" id="sexos" multiple="multiple" data-placeholder="-- Seleccionar sexo --" style="width:100%">
                        @foreach (var item in Model.sexos)
                        {
                            <option value="@item.IdSexo">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="tipomatricula" id="tipomatricula" multiple="multiple" data-placeholder="-- Seleccionar Tipo Matricula --" style="width:100%">
                        @foreach (var item in Model.tipomatricula)
                        {
                            <option value="@item.IdTipoMatricula">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="departament" id="departament" multiple="multiple" data-placeholder="-- Seleccionar Departamento --" style="width:100%">
                        @foreach (var item in Model.departamentos)
                        {
                            <option value="@item.IdDepartamento">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="refiere" id="refiere" multiple="multiple" data-placeholder="-- Seleccionar Referido --" style="width:100%">
                        @foreach (var item in Model.dropRefiereCM)
                        {
                            <option value="@item.IdRefiere">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="year1" id="year1" multiple="multiple" data-placeholder="-- Seleccionar año --" style="width:100%">
                        @foreach (var item in Model.catAños)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="mes" id="mes" multiple="multiple" data-placeholder="-- Seleccionar mes --" style="width:100%">
                        @foreach (var item in Model.mes)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="aEstudio" id="aEstudio" multiple="multiple" data-placeholder="-- Año de Educación --" style="width:100%">
                        @foreach (var item in Model.catAños)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <select class="form-control select2" name="cohorte1" id="cohorte1" multiple="multiple" data-placeholder="-- Cohorte de estudios --" style="width:100%">
                        @foreach (var item in Model.cohorte)
                        {
                            <option value="@item.IdCohorte">@item.Nombre</option>
                        }
                    </select>
                </div>
                <button type="submit" id="btnFilters" class="btn btn-primary mb-2">Buscar</button>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Evaluación Psicosocial</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Año</th>
                    <th>Mes</th>
                    <th>Nombre</th>
                    <th>Socio</th>
                    <th>Sede</th>
                    <th>Carrera</th>
                    <th>Tipo Matricula</th>
                    <th>Año de estudio</th>
                    <th>Cohorte</th>
                    <th>Participacion</th>
                    <th>Puntaje Pre-Test</th>
                    <th>Puntaje Pos-Test</th>
                    <th>Instrumento de Riesgo</th>
                    <th>Vulnerabilidades</th>
                    <th>Alerta Deserción</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@section scripts{

<script>
    $(function () {
    const Lsocios = [];
    const Lzonas = [];
    const Lprograma = [];
    const Lsedes = []
    const Lcarreras = [];
    const Lsexos =[];
    const Ltipomatricula = [];
    const Ldepartament = [];
    const Lrefiere = [];
    const Lyear1 = [];
    const Lmes = [];
    const LaEstudio = [];
    const Lcohorte1 = [];
     $("#example1").DataTable({
            "processing":true,
            "responsive": true, "lengthChange": true, "autoWidth": false,
            "fixedColumns": true,
            "serverSide":false,
            "dom": 'Bfrtip',
            "buttons": [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "ajax": {
                "url": "@Url.Action("GetEvPsicosocial","Mantenimientos")",
                "type":"POST",
                "dataType": "json",
                "data":function(d){
                    return $.extend({},d,{
                        "socio":Lsocios,
                        "zonas":Lzonas,
                        "programa":Lprograma,
                        "sedes":Lsedes,
                        "carreras":Lcarreras,
                        "sexos":Lsexos,
                        "tipomatricula":Ltipomatricula,
                        "departament":Ldepartament,
                        "refiere":Lrefiere,
                        "year1":Lyear1,
                        "mes":Lmes,
                        "aEstudio":LaEstudio,
                        "cohorte1":Lcohorte1
                    });
                }
            },
            "columns": [
                {"data":"id"},
                {"data":"mes"},
                {"data":"año"},
                {"data":"nombre"},
                {"data":"nombreSocio"},
                {"data":"nombreSede"},
                {"data":"nombreCarrera"},
                {"data":"tipoMatricula"},
                {"data":"year1"},
                {"data":"nombreCohorte"},
                {"data":"ovParticipacion"},
                {"data":"ovPuntajePret"},
                {"data":"ovPuntajePos"},
                {"data":"epInstrumentoRiesgo"},
                {"data":"epVulnerabilidades"},
                {"data":"epAlertaDesercion"}

            ]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      $('.select2').select2()

       $("#socios").on("change", function(){
        $("#socios option:selected").each(function() {
            Lsocios.push($(this).val());

        });
       }).trigger("change");

       $('#dropzona').on('change', function(){
           $('#dropzona option:selected').each(function(){
                Lzonas.push($(this).val());
           })
       }).trigger("change");

       $('#idprograma').on('change',function(){
           $("#idprograma option:selected").each(function(){
               Lprograma.push($(this).val());
           })
       }).trigger("change");

       $('#sedes').on('change',function(){
           $("#sedes option:selected").each(function(){
               Lsedes.push($(this).val());
           })
       }).trigger("change");

       $('#carreras').on('change',function(){
           $("#carreras option:selected").each(function(){
               Lcarreras.push($(this).val());
           })
       }).trigger("change");

       $('#sexos').on('change',function(){
           $("#sexos option:selected").each(function(){
               Lsexos.push($(this).val());
           })
       }).trigger("change");

       $('#tipomatricula').on('change',function(){
           $("#tipomatricula option:selected").each(function(){
               Ltipomatricula.push($(this).val());
           })
       }).trigger("change");

       $('#departament').on('change',function(){
           $("#departament option:selected").each(function(){
               Ldepartament.push($(this).val());
           })
       }).trigger("change");

       $('#refiere').on('change',function(){
           $("#refiere option:selected").each(function(){
               Ldepartament.push($(this).val());
           })
       }).trigger("change");

       $('#year1').on('change',function(){
           $("#year1 option:selected").each(function(){
               Lyear1.push($(this).val());
           })
       }).trigger("change");

       $('#mes').on('change',function(){
           $("#mes option:selected").each(function(){
               Lmes.push($(this).val());
           })
       }).trigger("change");

       $('#aEstudio').on('change',function(){
           $("#aEstudio option:selected").each(function(){
               LaEstudio.push($(this).val());
           })
       }).trigger("change");

       $('#cohorte1').on('change',function(){
           $("#cohorte1 option:selected").each(function(){
               Lcohorte1.push($(this).val());
           })
       }).trigger("change");

       $("#btnFilters").on("click", function(e) {
            e.preventDefault();
            $("#example1").DataTable().ajax.reload();
            Lsocios.length = 0;
            Lzonas.length = 0;
            Lprograma.length = 0;
            Lsedes.length = 0;
            Lcarreras.length = 0;
            if ($('.select2').data('select2')) {
                $('.select2').select2().val(null).trigger("change");
            }
        });
    });
</script>

<script>

    $("#socios").change(function () {
        var idsocio = $("#socios").val();
        $.get("/Mantenimientos/GetZona", { id: idsocio[0] }, function (data) {
            // VACIAMOS EL DropDownList
            $("#dropzona").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
            //$("#dropzona").append("<option value> -- Seleccionar Zona " + $("#dropzona option:selected").text() + " --</option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            $.each(data, function (index, row) {
                $("#dropzona").append("<option value='" + row.idZona + "'>" + row.nombre + "</option>")
            });
        });
    });

    $("#dropzona").change(function (data) {
        var idsocio = $("#socios").val();
        //var idzona = $("#dropzona").val();
        var idzona = $("#dropzona :selected").map((_, e) => e.value).get();
        //alert(selected);
        $.get("/Mantenimientos/GetProgramas", { id: idzona[0] , ids:idsocio[0] }, function (data) {
            // VACIAMOS EL DropDownList
            $("#idprograma").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
            $("#idprograma").append("<option value> -- Seleccionar programa " + $("#idprograma option:selected").text() + " --</option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            $.each(data, function (index, row) {
                $("#idprograma").append("<option value='" + row.idPrograma + "'>" + row.nombre + "</option>")
                //<option value="undefined" data-select2-id="30">Modalidad Flexible Integrada</option>
            });
        });
    });

    $("#idprograma").change(function (data) {
        var idsocio = $("#socios").val();
        var pro = $("#idprograma").val();
        var idzona = $("#dropzona :selected").map((_, e) => e.value).get();
        var idprograma = $("#idprograma :selected").map((_, e) => e.value).get();
        //alert(selected);
        $.get("/Mantenimientos/GetSedes", { id: idzona[0] , ids:idsocio[0] ,idp:idprograma[0] }, function (data) {
            // VACIAMOS EL DropDownList
            $("#sedes").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
            $("#sedes").append("<option value> -- Seleccionar Zona " + $("#sedes option:selected").text() + " --</option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            $.each(data, function (index, row) {
                $("#sedes").append("<option value='" + row.idCatSede + "'>" + row.catsede.nombre + "</option>")
            });
        });
    });

    $("#sedes").change(function (data) {
        var sedes = $("#sedes :selected").map((_, e) => e.value).get();
        var idsocio = $("#socios").val();
        //alert(selected);
        $.get("/Mantenimientos/GetCarreras", { id: sedes[0],ids:idsocio[0] }, function (data) {
            // VACIAMOS EL DropDownList
            $("#carreras").empty();
            // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
            $("#carreras").append("<option value> -- Seleccionar carrera " + $("#carreras option:selected").text() + " --</option>")
            // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            $.each(data, function (index, row) {
                $("#carreras").append("<option value='" + row.idCarrera + "'>" + row.nombre + "</option>")
            });
        });
    });
</script>
}


